Element/Builds/
Element/JuceLibraryCode/**/*.*
!Element/JuceLibraryCode/AppConfig.h
!Element/JuceLibraryCode/JuceHeader.h

ElementFX/Builds/
ElementFX/JuceLibraryCode/**/*.*
!ElementFX/JuceLibraryCode/AppConfig.h
!ElementFX/JuceLibraryCode/JuceHeader.h

ElementMFX/Builds/
ElementMFX/JuceLibraryCode/**/*.*
!ElementMFX/JuceLibraryCode/AppConfig.h
!ElementMFX/JuceLibraryCode/JuceHeader.h

#Standalone/Builds/
Standalone/Builds/Mac*
Standalone/Builds/Vis*/x64
Standalone/Builds/Vis*/x86
.vs
Standalone/JuceLibraryCode/**/*.*
!Standalone/JuceLibraryCode/AppConfig.h
!Standalone/JuceLibraryCode/JuceHeader.h
